<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8" />
    <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name="viewport" />
    <meta content="no-cache" http-equiv="cache-control" />
    <meta content="no-cache" http-equiv="pragma" />
    <!-- 공통으로 쓰이는 css파일들을 넣는다-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    
    <meta content="롱테일 광고 네트워크 나임애드에서 최고의 효과를 가져가세요" name="description" />
    <meta content="디지털 사이니지,광고,광고플랫폼,키오스크,의정부,의정부 경전철,의정부 광고,나임,나임에이아이" name="keywords" />
    
    <meta content="naim ad 나임 광고" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="https://ad.naim.ai" property="og:url" />
    <meta content="tile.png" property="og:image" />
    <meta content="롱테일 광고 네트워크 나임애드에서 최고의 효과를 가져가세요" property="og:description" />

    <meta content="0156ec06a3a1e3129c20aa88568c291933cbad5b" name="naver-site-verification" />

    <link rel="apple-touch-icon" href="https://naim.ai/apple-touch-icon.png" />
    <link rel="shortcut icon" href="https://naim.ai/favicon.ico" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-152880973-2"></script>
	<script>
	    window.dataLayer = window.dataLayer || [];
	    function gtag(){dataLayer.push(arguments);}
	    gtag('js', new Date());
	    gtag('config', 'UA-152880973-2');
	</script>

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900|Noto+Sans+KR:400,700|Roboto:400,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://naim.ai/css/bootstrap-carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://naim.ai/css/style.css?190924" />
 	<link th:href="@{/css/naim.css}" rel="stylesheet" />
 <!-- 
    <link rel="stylesheet" type="text/css" href="https://naim.ai/css/naimad.css?190924" />
 -->

</head>	

	<div th:replace="marketplace/nav :: navFragment"></div>
	<header th:replace="marketplace/header :: headerFragment"></header>
	<div layout:fragment="content"></div>
	<footer th:replace="marketplace/footer :: footerFragment"></footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://naim.ai/js/bootstrap-carousel.js"></script>
  	<script src="https://naim.ai/js/naimad.js?190924"></script>

</html>