hello world
<p>break</p>
<span th:text="${key}">key is replaced with value</span>
<br>
now we are mixing with #messages.propertes with thmyleaf template
<div>
<span th:text="#{greeting1}+${key}">hello internationals</span>
</div>