.contents-1 {
    display: table;
    width: 100%;
    margin-top: 80px;
}

.contents-1 .text-holder {
    position: relative;
    padding: 0 110px;
    transition: all 1s;
    top: 10px;
    opacity: 0;
}
.contents-1 .text-holder.shown {
    top: 0;
    opacity: 1;
}

.contents-1 .text-holder .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #0500FF;
}
.contents-1 .text-holder .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111111;
    margin-top: 20px;
}

.contents-1 .image-holder {
    display: table-cell;
    width: 30%;
    height: 250px;
    background-image: url(../img/about_1.png);
}

.contents-2 {
    display: table;
    width: 100%;
    margin-top: 120px;
    padding: 0 110px;
    box-sizing: border-box;
}

.contents-2 .col-1,
.contents-2 .col-2 {
    display: table-cell;
    width: 50%;
}
.contents-2 .col-1 {
    padding-right: 60px;
    vertical-align: top;
}
.contents-2 .col-2 {
    padding-left: 60px;
}

.contents-2 .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #0500FF;
}

.contents-2 .title-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    margin-top: 5px;
}

.contents-2 .shape {
    width: 8px;
    height: 4px;
    background-color: #0500FF;
    margin-top: 15px;
}

.contents-2 .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    margin-top: 25px;
}

.contents-2 .title-3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #0500FF;
    margin-top: 120px;
}

.contents-2 .quote {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-top: 30px;
}

.contents-3 {
    display: table;
    width: 100%;
    margin-top: 120px;
    padding: 0 110px;
    box-sizing: border-box;
}

.contents-3 .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #0500FF;
}

.contents-3 .price-list {
    display: table;
    width: 100%;
    margin-top: 60px;
}

.contents-3 .price-item {
    display: table-cell;
    width: 33.3333%;
}

.contents-3 .price {
    position: relative;
    width: 360px;
    margin: 0 auto;
    border: 1px solid #0500FF;
    padding: 35px 30px;
    box-sizing: border-box;
}

.contents-3 .price .top-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #666;
    text-align: center;
}

.contents-3 .price .price-value {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: #0500FF;
    text-align: center;
    margin: 30px 0;
}

.contents-3 .price .option {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 10px 0;
    color: #505050;
}
.contents-3 .price .option.active {
    color: #000;
}
.contents-3 .price .option.disable {
    color: #b7b7b7;
}
.contents-3 .price .shape-wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contents-3 .price .shape-holder {
    display: table;
    width: 100%;
    height: 100%;
}
.contents-3 .price .shape {
    display: table-cell;
    vertical-align: middle;
}
.contents-3 .price .shape > div {
    position: relative;
    width: 5px;
    height: 150px;
    top: 0;
    right: -3px;
    float: right;
    background-color: #fff;
}

.contents-4 {
    display: table;
    width: 100%;
    margin-top: 120px;
    padding: 0 110px;
    box-sizing: border-box;
}

.contents-4 .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #0500FF;
}

.contents-4 .email-wrapper {
    display: table;
    width: 100%;
    margin-top: 60px;
}

.contents-4 .email {
    display: table-cell;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #0500FF;
}

.contents-4 .description {
    display: table-cell;
    padding: 0 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #111;
}

@media (max-width: 768px) {

    .contents-1 .text-holder {
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 30px;
        background-color: rgba(255,255,255,0.6);
        padding: 10px 25px;
        box-sizing: border-box;
    }
    .contents-1 .text-holder .title {
        font-size: 40px;
    }
    .contents-1 .text-holder .description {
        font-size: 18px;
    }
    .contents-1 .image-holder {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
        background-position: center center;
        background-size: cover;
        z-index: 0;
    }
    .contents-1 {
        position: relative;
    }

    .contents-2 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-2 .col-1,
    .contents-2 .col-2 {
        width: 100%;
        display: table;
        padding: 0 !important;
    }
    .contents-2 .title-3 {
        margin-top: 30px;
        font-size: 18px;
    }
    .contents-2 .title {
        font-size: 28px;
    }
    .contents-2 .title-2 {
        font-size: 14px;
    }
    .contents-2 .description {
        margin-top: 20px;
        font-size: 14px;
    }
    .contents-2 .quote {
        font-size: 18px;
        margin-top: 20px;
    }

    .contents-3 {
        margin-top: 60px;
        padding: 0 25px;
    }
    
    .contents-3 .title {
        font-size: 28px;
    }
    .contents-3 .price-list {
        margin-top: 0;
    }
    .contents-3 .price-item {
        display: block;
        width: 100%;
    }
    .contents-3 .price {
        width: 100%;
        margin-top: 30px;
    }
    .contents-3 .price:first-child {
        margin-top: 30px;
    }

    .contents-4 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-4 .title {
        font-size: 28px;
    }
    .contents-4 .email-wrapper {
        margin-top: 30px;
    }
    .contents-4 .email {
        font-size: 18px;
        display: block;
    }
    .contents-4 .description {
        display: block;
        padding: 0;
        font-size: 14px;
        margin-top: 10px;
    }

}