.test {
	background-image:url('../img/uj/uj.jpg');    /* html안에서는  url{[[@{/img/uj/uj.jpg}]]}; */
	
}

.page { word-break: keep-all; }


a {
    display: block;
    text-decoration: none;
    color: initial;
}
img {
    min-width: initial;
}


.content {
	margin-top: 80px;  /* -2 margin-top: 160px; */
    padding: 0 110px;
}

.content .btns {
	margin-top: 40px;
	
}


.contents .btns a {
    display: inline-table;
    margin-right: 10px;
}


.contents .btns .btn, .content .btn {
	width: 120px;
    padding: 7px 0px 5px;
    border: 1px solid #0500FF;
    color: #0500FF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s;
}

.contents .btns a:hover .btn, .contents .btns a:active .btn {
    background-color: #0500FF;
    color: #FFF;
}
.contents .link a {
    display: table;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    color: #0500FF;
    font-size: 18px;
}
.contents .link a span {
    vertical-align: middle;
}




.content_div1 .title {
	font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #0500FF;
    margin: 10px 0;
}

.content_div .title {  /* div_title */
	font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}


.content_div .subtitle {/* div_subtitle */
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
    margin-top: 20px;
}