/* í•œê¸€ ë‹¨ì–´ë¡œ ë¬¶ì–´ì„œ ì¤„ë°”ê¿ˆ ì²˜ë¦¬ */
.ad-page { word-break: keep-all; }

a {
    display: block;
    text-decoration: none;
    color: initial;
}
img {
    min-width: initial;
}

.contents-1 {
    margin-top: 80px;
    padding: 0 110px;
}
.contents-1 .top-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}
.contents-1 .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #0500FF;
    margin: 10px 0;
}
.contents-1 .btns {
    margin-top: 40px;
}
.contents-1 .btns a {
    display: inline-table;
    margin-right: 10px;
}
.contents-1 .btns .btn {
    width: 120px;
    padding: 7px 0px 5px;
    border: 1px solid #0500FF;
    color: #0500FF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s;
}
.contents-1 .btns a:hover .btn,
.contents-1 .btns a:active .btn {
    background-color: #0500FF;
    color: #FFF;
}
.contents-1 .link a {
    display: table;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    color: #0500FF;
    font-size: 18px;
}
.contents-1 .link a span {
    vertical-align: middle;
}

.contents-2 {
    margin-top: 160px;
    padding: 0 110px;
}
.contents-2 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}

.contents-2 .place-list-holder {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-2 .place-list {
    display: table;
    width: 100%;
}
.contents-2 .place-list .place {
    display: inline-block;
    width: 33.3333%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.contents-2 .place-list .place .image-holder {
    min-height: 300px;
    background-color: #0500FF;
    background-size: cover;
}
.contents-2 .place-list .place .description {
    display: table;
    /* margin-top: 5px; */
}
.contents-2 .place-list .place.deactive .description {
    margin-top: 10px;
}

.contents-2 .place-list .place .description span {
    font-weight: 400;
    vertical-align: middle;
    text-decoration: underline;
}
.contents-2 .place-list .place.deactive .image-holder {
    display: table;
    width: 100%;
}
.contents-2 .place-list .place.deactive .image-holder > div {
    display: table-cell;
    height: 100%;
    padding: 0 15px;
    color: #ECF0F1;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
}
.contents-2 .place-list .place.deactive .description span {
    color: #999;
    text-decoration: none;
}


.contents-3 {
    margin-top: 120px;
    padding: 0 110px;
}
.contents-3 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
    vertical-align: top;
}
.contents-3 .text-holder-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
    margin-top: 20px;
}

.contents-3 .product-list-holder {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-3 .product-list {
    display: table;
    width: 100%;
}
.contents-3 .product-list .product {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}
.contents-3 .product-list .product .top-text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #0500FF;
    margin-top: 5px;
}
.contents-3 .product-list .product img {
    width: 100%;
    height: auto;
}


.contents-4 {
    margin-top: 120px;
    padding: 0 110px;
}
.contents-4 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-4 .text-list-holder {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-4 .text-list {
    display: table;
    width: 100%;
}
.contents-4 .text-list .text {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.contents-4 .text-list .text .top-text {
    font-weight: 900;
    color: #0500FF;
}
.contents-4 .text-list .text .description {
    font-weight: 400;
    margin-top: 5px;
}

.contents-5 {
    margin-top: 60px;
    padding: 0 110px;
}

.contents-6 {
    margin-top: 60px;
    padding: 0 110px;
}

.contents-6-wrapper {
    display: table;
    width: 100%;
}

.contents-6 .carousel-holder {
    display: inline-block;
    width: 50%;
    border: 1px solid #EEE;
    box-sizing: border-box;
}
.carousel-holder img {
    min-width: 100%;
}

.contents-6 .text-holder {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    vertical-align: top;
}
.contents-6 .text-holder .top-text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-6 .text-holder .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
}
.contents-6 .btn-link {
    display: table;
    margin: 30px 0;
}
.contents-6 .btn-link .btn {
    width: 120px;
    padding: 5px 0px;
    border: 1px solid #0500FF;
    color: #0500FF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s;
}
.contents-6 .btn-link:hover .btn,
.contents-6 .btn-link:active .btn {
    background-color: #0500FF;
    color: #FFF;
}

.contents-6 .contact {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.contents-6 .contact .name,
.contents-6 .contact .value {
    display: inline-block;
    vertical-align: middle;
}
.contents-6 .contact .name {
    width: 110px;
}
.contents-6 .contact .value a {
    color: #0500FF;
}

@media (max-width: 1024px) {
    .contents-2 .place-list .place .image-holder {
        min-height: 180px;
    }

    .contents-3 .product-list-holder {
        margin-left: -10px;
        margin-right: -10px;
    }

    .contents-3 .product-list .product {
        width: 50%;
        margin-bottom: 25px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .contents-4 {
        text-align: center;
    }
    .contents-4 .text-list-holder {
        margin-left: 0;
        margin-right: 0;
    }
    .contents-4 .text-list .text {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 768px) {
    body { font-size: 14px; }

    .contents-1 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-1 .top-text {
        font-size: 18px;
    }
    .contents-1 .title {
        font-size: 32px;
    }

    .contents-2 {
        padding: 0 25px;
    }
    .contents-2 .text-holder-1 {
        font-size: 24px;
    }
    .contents-2 .place-list-holder {
        margin-left: 0;
        margin-right: 0;
    }
    .contents-2 .place-list .place {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 15px;
    }
  
    .contents-3 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-3 .text-holder-1 {
        font-size: 24px;
    }
    .contents-3 .text-holder-2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .contents-3 .product-list .product .top-text {
        font-size: 18px;
    }

    .contents-4 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-4 .text-holder-1 {
        font-size: 24px;
    }

    .contents-5 {
        margin-top: 30px;
        padding: 0 25px;
    }

    .contents-6 {
        margin-top: 30px;
        padding: 0 25px;
    }
    .contents-6 .carousel-holder {
        width: 100%;
    }
    .contents-6 .text-holder {
        width: 100%;
        padding-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .contents-6 .text-holder .top-text {
        font-size: 24px;
    }
    .contents-6 .text-holder .description {
        font-size: 18px;
    }
    .contents-6 .text-holder .btn-link {
        margin: 30px auto;
    }
    .contents-6 .contact .name {
        width: 100px;
        margin-right: 10px;
        text-align: left;
    }
}