/* í•œê¸€ ë‹¨ì–´ë¡œ ë¬¶ì–´ì„œ ì¤„ë°”ê¿ˆ ì²˜ë¦¬ */
.ad-uj-page { word-break: keep-all; }

a {
    display: block;
    text-decoration: none;
    color: initial;
}
b {
    font-weight: 900;
}
img {
    min-width: initial;
}

/*
.contents-1 {
    margin-top: 80px;
    padding: 0 110px;
}
.contents-1 .top-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}
.contents-1 .title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #0500FF;
    margin: 10px 0;
}
*/

.contents-1 {
    display: table;
    margin-top: 60px;
    width: 100%;
}

.contents-1 .image-holder {
    display: table-cell;
    width: 60%;
    height: 680px;
    background-image: url('../img/UJ ver2_Main.png');
    background-position: center center;
    background-size: cover;
}

.contents-1 .text-holder {
    position: relative;
    padding: 80px 40px;
    overflow: visible;
    transition: all 1s;
    top: 10px;
    opacity: 0;
}
.contents-1 .text-holder.shown {
    top: 0px;
    opacity: 1;
}

.contents-1 .top-text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-decoration: underline;
    color: #0500FF;
    font-size: 24px;
}

.contents-1 .title {
    margin-top: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color: #0500FF;
    margin-left: -160px;
}

.contents-1 .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #101010;
    margin-top: 32px;
}
.contents-1 .btns {
    margin-top: 40px;
}
.contents-1 .btns a {
    display: inline-table;
    margin-right: 10px;
}
.contents-1 .btns .btn {
    width: 120px;
    padding: 7px 0px 5px;
    border: 1px solid #0500FF;
    color: #0500FF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s;
}
.contents-1 .btns a:hover .btn,
.contents-1 .btns a:active .btn {
    background-color: #0500FF;
    color: #FFF;
}

.contents-2 {
    margin-top: 160px;
    padding: 0 110px;
}
.contents-2 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-2 .text-holder-1 .sub-text {
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 5px;
    color: #000;
}
.contents-2 .text-holder-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
    margin-top: 10px;
}

.contents-3 {
    margin-top: 120px;
    padding: 0 110px;
}
.contents-3 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-3 .text-holder-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
    margin-top: 10px;
}
.contents-3 .place-list-holder {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-3 .place-list {
    display: table;
    width: 100%;
}
.contents-3 .place-list .place {
    display: inline-block;
    width: 33.3333%;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}
.contents-3 .place-list .place .top-text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #0500FF;
    margin-top: 5px;
}
.contents-3 .place-list .place img {
    width: 100%;
    height: auto;
}

.contents-4 {
    margin-top: 120px;
    padding: 0 110px;
}
.contents-4 a { display: table; }
.contents-4 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-4 .product-list-holder {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-4 .product-list {
    display: table;
    width: 100%;
}
.contents-4 .product-list .product {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}
.contents-4 .product-list .product .top-text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #0500FF;
    margin-top: 5px;
    /* margin-bottom: 5px; */
}
.contents-4 .product-list .product .image-holder img {
    width: 100%;
    height: auto;
}
.contents-4 .product-list .product .image-holder a {
    width: 100%;
}

.contents-4 .product a span,
.contents-4 .product a img {
    display: table-cell;
    vertical-align: middle;
}
.contents-4 .product a span {
    width: 100%;
    padding-right: 5px;
    box-sizing: border-box;
}
.contents-4 .product a img {
    width: 36px;
}

.contents-5 {
    margin-top: 120px;
    padding: 0 110px;
}
.contents-5 .text-holder-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-5 .text-list-holder {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.contents-5 .text-list {
    display: table;
    width: 100%;
}
.contents-5 .text-list .text {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.contents-5 .text-list .text .top-text {
    font-weight: 900;
    color: #0500FF;
}
.contents-5 .text-list .text .description {
    font-weight: 400;
    margin-top: 5px;
}

.contents-6 {
    margin-top: 60px;
    padding: 0 110px;
}

.contents-7 {
    margin-top: 60px;
    padding: 0 110px;
}
.contents-7-wrapper {
    display: table;
    width: 100%;
}
.contents-7 .carousel-holder {
    display: inline-block;
    width: 50%;
    border: 1px solid #EEE;
    box-sizing: border-box;
}
.carousel-holder img {
    min-width: 100%;
}
.contents-7 .text-holder {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    vertical-align: top;
}
.contents-7 .text-holder .top-text {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #0500FF;
}
.contents-7 .text-holder .description {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #111;
}
.contents-7 .btn-link {
    display: table;
    margin: 30px 0;
}
.contents-7 .btn-link .btn {
    width: 120px;
    padding: 5px 0px;
    border: 1px solid #0500FF;
    color: #0500FF;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.25s;
}
.contents-7 .btn-link:hover .btn,
.contents-7 .btn-link:active .btn {
    background-color: #0500FF;
    color: #FFF;
}

.contents-7 .contact {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.contents-7 .contact .name,
.contents-7 .contact .value {
    display: inline-block;
    vertical-align: middle;
}
.contents-7 .contact .name {
    width: 110px;
}
.contents-7 .contact .value a {
    color: #0500FF;
}

@media (max-width: 1024px) {
    .contents-2 .place-list .place .image-holder {
        min-height: 180px;
    }

    .contents-3 .place-list .place .top-text {
        font-size: 18px;
    }

    .contents-5 {
        text-align: center;
    }
    .contents-5 .text-list-holder {
        margin-left: 0;
        margin-right: 0;
    }
    .contents-5 .text-list .text {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 768px) {
    body { font-size: 14px; }

    .contents-1 .image-holder {
        width: 40%;
        height: auto;
    }
    .contents-1 .text-holder {
        padding: 25px;
    }
    .contents-1 .top-text {
        font-size: 18px;
    }
    .contents-1 .title {
        margin-top: 20px;
        font-size: 32px;
        margin-left: -80px;
    }
    .contents-1 .description {
        font-size: 18px;
        margin-top: 20px;
    }

    .contents-2 {
        padding: 0 25px;
    }
    .contents-2 .text-holder-1 {
        font-size: 24px;
    }
    .contents-2 .text-holder-2 {
        font-size: 18px;
    }

    .contents-3 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-3 .text-holder-1 {
        font-size: 24px;
    }
    .contents-3 .text-holder-2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .contents-3 .place-list-holder {
        margin-left: -10px;
        margin-right: -10px;
    }
    .contents-3 .place-list .place {
        width: 100%;
        margin-bottom: 25px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .contents-4 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-4 .text-holder-1 {
        font-size: 24px;
    }
    .contents-4 .product-list-holder {
        margin-left: -10px;
        margin-right: -10px;
    }
    .contents-4 .product-list .product {
        width: 50%;
        margin-bottom: 25px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .contents-4 .product-list .product .top-text {
        font-size: 18px;
    }

    .contents-5 {
        margin-top: 60px;
        padding: 0 25px;
    }
    .contents-5 .text-holder-1 {
        font-size: 24px;
    }

    .contents-6 {
        margin-top: 30px;
        padding: 0 25px;
    }

    .contents-7 {
        margin-top: 30px;
        padding: 0 25px;
    }
    .contents-7 .carousel-holder {
        width: 100%;
    }
    .contents-7 .text-holder {
        width: 100%;
        padding-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    .contents-7 .text-holder .top-text {
        font-size: 24px;
    }
    .contents-7 .text-holder .description {
        font-size: 18px;
    }
    .contents-7 .text-holder .btn-link {
        margin: 30px auto;
    }
    .contents-7 .contact .name {
        width: 100px;
        margin-right: 10px;
        text-align: left;
    }

}