/*fouc*/
.ui-mobile-rendering > * { visibility: hidden; }

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
* {
    overflow-x: hidden;
}

#frame {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    vertical-align: middle;
}

header {
    position: relative;
    padding: 0 110px;
    margin-top: 60px;
    z-index: 4;
}

.logo {
    display: table;
}
.logo img {
    height: 65px;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #0500FF;
    z-index: 5;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 240px;
}
.menu .menu-item {
    position: relative;
    margin-top: 40px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 50px;
    top: -10px;
    opacity: 0;
    transition: all 0.5s;
}

.menu.shown .menu-item {
    top: 0;
    opacity: 1;
}

.menu .menu-item a {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
}
.menu .menu-item.active a {
    opacity: 1;
}

.menu-btn {
    position: absolute;
    display: table;
    width: 46px;
    height: 46px;
    top: 66px;
    right: 110px;
    padding: 3px;
    cursor: pointer;
    z-index: 6;
}
.menu-btn-holder {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top: -4px;
    left: 4px;
}
.menu-btn .shape {
    position: relative;
    width: 40px;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s;
}
.menu-btn .shape:nth-child(2) {
    top: 10px;
}
.menu-btn.close .shape:nth-child(1) {
    transform: rotate(45deg);
}
.menu-btn.close .shape:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
}
.menu-btn.close .shape {
    background-color: #fff !important;
}

/* */

footer {
    position: relative;
    display: table;
    width: 100%;
    padding: 80px 110px;
    margin-top: 120px;
    box-sizing: border-box;
}

footer .footer-1,
footer .footer-2 {
    position: relative;
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: top;
}
footer .footer-1 {
    overflow: visible;
}
footer .footer-2 {
    text-align: right;
}

footer a.logo {
    display: inline-block;
}

footer .item {
    margin: 15px 0;
}
footer .item.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer .item a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.lang-selector {
    display: table;
    width: 130px;
    padding: 10px 5px;
    border: 1px solid #000;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    overflow: visible;
}
.lang-selector .caret {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    display: inline-block;
    margin-left: 40px;
    top: -3px;
    position: relative;
    transform: rotate(0deg);
}
.lang-list {
    position: absolute;
    display: none;
    width: 130px;
    border: 1px solid #000;
    left: -1px;
    top: 41px;
    box-sizing: border-box;
    cursor: pointer;
}
.lang-list.shown {
    display: table;
}

.lang-item {
    padding: 10px 5px;
}

.menu .lang-selector {
    position: relative;
    border-color: #EEE;
    color: #EEE;
    margin-top: 45px;
    top: -10px;
    opacity: 0;
    transition: all 0.5s;
}
.menu .lang-selector .caret {
    border-color: #EEE transparent transparent transparent;
}
.menu .lang-list {
    border-color: #EEE;
}
.menu.shown .lang-selector {
    top: 0;
    opacity: 1;
}

.lang-selector a {
    display: block;
    color: #EEE;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    header {
        margin-top: 30px;
        padding: 0 25px;
    }
    .logo img {
        height: 50px;
    }
    .menu-btn {
        top: 28px;
        right: 25px;
    }
    .menu-btn-holder {
        left: initial;
        right: -15px;
    }
    .menu-btn .shape {
        width: 30px;
        height: 3px;
    }
    .menu {
        padding-top: 80px;
        padding-left: 40px;
    }
    .menu .menu-item {
        font-size: 24px;
        margin-top: 10px;
    }

    footer {
        padding: 40px 25px;
        margin-top: 60px;
    }
    footer .item a {
        font-size: 14px;
    }
    .lang-selector {
        width: 100px;
    }

    .lang-list {
        top: 37px;
    }
    
}